<div class="d-flex justify-content-between">
  <div class="d-flex flex-column justify-content-end">
    <button (click)="createArea()" class="btn btn-secondary">Создать область</button>
  </div>
  <div class="d-flex align-items-end z-n1">
    <div>
      <label for="id-login">Наименование:</label>
      <input id="id-login" type="text" [(ngModel)]="name"  (ngModelChange)="updateTable()"  class="form-control" />
    </div>
    <div>
      <label for="inputWithDropdown">Гость:</label>
      <div class="input-group" ngbDropdown>
        <input
          type="text"
          class="form-control"
          id="inputWithDropdown"
          [(ngModel)]="guest"
          ngbDropdownToggle
          placeholder="Введите или выберите..."
          readonly
        />
        <div class="input-group-append" ngbDropdownMenu>
          <div *ngFor="let option of this.users" class="dropdown-item" (click)="selectOption(option)">
            {{ option.login }}
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex flex-column justify-content-end">
      <button (click)="clear()" class="btn btn-secondary">Очистить</button>
    </div>
  </div>
</div>
<div>
  <div *ngIf="isLoading; else loading" class="h-100 d-flex justify-content-center align-items-center">
    <mat-spinner></mat-spinner>
  </div>
  <ng-template #loading>
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Наименование </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> img </th>
        <td mat-cell *matCellDef="let element">
          <img class="img-size"  *ngIf="element.img; else imgStr" [src]="'data:' + element.mimeType + ';base64,' + element.img" alt="Uploaded Image" />
          <ng-template #imgStr >
            <img class="img-size"  src="logo.svg">
          </ng-template>

        </td>
      </ng-container>

      <ng-container matColumnDef="accessAreas">
        <th mat-header-cell *matHeaderCellDef> Предоставлен доступ </th>
        <td mat-cell *matCellDef="let element"> {{areasString(element.accessAreas)}} </td>
      </ng-container>

      <ng-container matColumnDef="pole1">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-primary"  (click)="clickRow(element)">Редактировать</button> </td>
      </ng-container>

      <ng-container matColumnDef="pole2">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-primary" (click)="open(element)">Открыть</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>
</div>
<div>
  <mat-paginator #paginator
                 class="demo-paginator"
                 (page)="handlePageEvent($event)"
                 [length]="length"
                 [pageSize]="pageSize"
                 [disabled]="disabled"
                 [showFirstLastButtons]="showFirstLastButtons"
                 [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                 [hidePageSize]="hidePageSize"
                 [pageIndex]="pageIndex"
                 aria-label="Select page">
  </mat-paginator>
