<form class="mt-2 d-flex flex-column container-md container-lg" [formGroup]="loginForm">
  <mat-form-field class="example-full-width">
    <mat-label>Логин</mat-label>
    <input matInput formControlName="login">
    <mat-hint class="text-danger" *ngIf="loginForm.get('login')?.invalid && loginForm.get('login')?.touched" >Логин не должен быть пустым</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Пароль</mat-label>
    <input matInput formControlName="password">
    <mat-hint class="text-danger" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" >Пароль не должен быть пустым</mat-hint>
  </mat-form-field>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary w-75" [disabled]="loginForm.invalid"  (click)="signin()">Войти</button>
  </div>
</form>
